// color VAariables
$beseColor1: #FFFFFF;
$beseColor2: #e2ddd1;
$mainColor1: #6e551b;
$mainColor2: #3c2f10;
$accentColor1 :#23460f;
$textColor1 :#333333;
$textColor2 :#ffffff;
$overlay1: rgba(#3c2f10,0.3);
$overlay2: rgba(#ffffff,0.85);

// Font Variables
$caslon: "Libre Caslon Text";
$serif:"Noto Serif Jp";
$sans:"Noto Sans JP";